<h1>Agregar productos</h1>
<br>

<form id="addForm">
    <label for="title">Nombre del prodcuto</label>
    <input type="text" name="title" id="title">
    <br>
    <label for="description">Descripción del prodcuto</label>
    <br>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
    <br>
    <label for="price">Precio del prodcuto</label>
    <input type="text" name="price" id="price">
    <br>
    <label for="thumbnail">Foto del prodcuto</label>
    <input type="text" name="thumbnail" id="thumbnail">
    <br>
    <label for="stock">Stock del prodcuto</label>
    <input type="text" name="stock" id="stock">
    <br>
    <label for="category">Categoria del prodcuto</label>
    <input type="text" name="category" id="category">
    <br>
    <button type="submit">Ingresar Producto</button>
</form>

<script src="/js/home.js"></script>




<!--
<div class="d-flex flex-row flex-wrap justify-content-evenly" style="height: 100%;">
   {{#each products.payload}}  
              <div class="card" style="width: 18rem; margin: 10px">
                <img class="card-img-top" src= {{this.thumbnails}} alt="Card image cap">
                <div class="card-body"> 
                  <h5 class="card-title">{{this.title}}</h5>
                  <p class="card-text">{{this.price}}</p>
                  <a href= "./api/products/{{this.id}}" class="btn btn-primary">Ver Mas</a>
                </div>
              </div>
   {{/each}}
</div>
-->