<div class="d-flex flex-row flex-wrap justify-content-evenly" style="height: 100%;">
              <div class="card" style="width: 18rem; margin: 10px">
                <img class="card-img-top" src= {{prodSelect.thumbnails}} alt="Card image cap">
                <div class="card-body"> 
                  <h5 class="card-title">{{prodSelect.title}}</h5>
                  <p class="card-text">{{prodSelect.price}}</p>
                  <p class="card-text light">{{prodSelect.description}}</p>
                  <a href="#" class="btn btn-primary">Ver Mas</a>
                </div>
</div>

