<div class="d-flex flex-row flex-wrap justify-content-evenly" style="height: 100%;">
              <div class="card" style="width: 90%; margin: 10px">
                <img class="card-img-top" src= {{idprod.thumbnails}} alt="Card image cap">
                <div class="card-body"> 
                  <h5 class="card-title">{{idprod.title}}</h5>
                  <p class="card-text">${{idprod.price}}</p>
                  <p class="card-text light">{{idprod.description}}</p>
                  </div>
</div>

