    <h1>Restablecer Contraseña</h1>
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
    {{#if success}}
    <p class="success">{{success}}</p>
    {{/if}}
    <form method="post" action="/reset-password/{{token}}">
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <button type="submit">Restablecer Contraseña</button>
    </form>